
    <div id="divider" class="mt-4"></div>
    
    <div style="margin: 0 auto;" class="text-center">
        <a href="https://www.instagram.com/1410__/" target="_blank"><img src="images/instagram.png" /></a>
        <a href="https://github.com/rtw590" target="_blank"><img src="images/github.png" /></a>
        <a href="https://www.youtube.com/channel/UCYqLT7F0wD19r0BI1m_ZiDQ" target="_blank"><img src="images/youtube.png" /></a>
    </div>

    <h4 class="text-center">1410productions@gmail.com</h4>


