 <div class="container">
    <h1 class="text-center mt-2 boldText">Downloads</h1>
    <h4 class="text-center">Art and Tutorial Files!</h4>


    <div id="store">		

		<div id="my-store-11521193"></div>
		<div>
			<script type="text/javascript" src="https://app.ecwid.com/script.js?11521193&data_platform=code&data_date=2017-05-10" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=4","views=grid(20,4) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-11521193");</script>
		</div>

	</div>	

	<div id="backToStore">
		<a href="/downloads">Back To Downloads</a>
	</div>
   

</div> {{!-- end container div --}}


