<div class="container">
    <h1 class="text-center mt-2 boldText">Portfolio</h1>
    <h4 class="text-center">Web Development - 3d - Design - Photography</h4>
</div>

<img src="images/ezp.jpg" target="_blank" alt="Portfolio" style="width:100%" class="img-fluid mt-1">

<img src="images/basketball2.jpg" alt="Downloads" style="width:100%" class="img-fluid mt-3">

<img src="images/flyingKeys.jpg" alt="Downloads" style="width:100%" class="img-fluid mt-3">

<img src="images/BackJack.jpg" alt="Downloads" style="width:100%" class="img-fluid mt-3">

<img src="images/iuGuidesL.jpg" alt="Downloads" style="width:100%" class="img-fluid mt-3">

<img src="images/baby.jpg" alt="Downloads" style="width:100%" class="img-fluid mt-3">

<img src="images/couple.jpg" alt="Downloads" style="width:100%" class="img-fluid mt-3">

<img src="images/eric.jpg" alt="Downloads" style="width:100%" class="img-fluid mt-3">


